<li class="${bid} list-group-item">
    <button type="button" class="btn btn-default pull-right ${bid}__removeCatalogButton" data-dojo-attach-event="click:remove"><i class="fa fa-remove"></i></button>
    <span class="${bid}__sourceBlock"><span data-dojo-attach-point="nls">catalogSource</span>
    <span type="text" data-dojo-attach-point="__catalogSource" class="${bid}__catalogSource"></span></span>
    <div data-dojo-attach-point="__catalogStatus" class=" ${bid}__catalogStatus"></div>
</li>