<div class='${bid}'>
    <h3 class="${bid}__header" data-dojo-attach-point="nls">mergeHeader</h3>
    <div class="panel panel-default">
        <div class="panel-heading panel-title" data-dojo-attach-point="nls">mainCatalogHeader</div>
        <ul class="list-group" data-dojo-attach-point="__mainCatalog"></ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-title"><span data-dojo-attach-point="nls">mergeCatalogListHeader</span>
            <button type="button" class="btn btn-default pull-right ${bid}__addMergeCatalogButton" data-dojo-attach-event="click:addMergeCatalog">
                <i class="fa fa-plus"></i>
                <span data-dojo-attach-point="nls">addMergeCatalog</span>
            </button>
        </div>
        <ul class="list-group" data-dojo-attach-point="__mergeCatalogList">
        </ul>
    </div>
    <button type="button"
            class="btn btn-raised btn-success pull-right ${bid}__mergeCatalogs"
            data-dojo-attach-event="click:mergeCatalogsIntoMain" data-dojo-attach-point="__mergeCatalogsIntoMain">
        <i class="fa fa-compress"></i>
        <span data-dojo-attach-point="nls">mergeCatalogsButtonIntoMain</span>
    </button>
</div>