.esrePipelineResult .collapsed .fa-chevron-down {
    display: none;
}

.esrePipelineResult .collapsed .fa-chevron-right {
    display: inline;
}

.esrePipelineResult .fa-chevron-right {
    display: none;
}

.esrePipelineResult a {
    cursor: pointer;
    display: block;
    color: black;
}

.esrePipelineResult__table {
    margin-bottom: 0px;
    table-layout: fixed;
}

.esrePipelineResult__alertRDF {
    word-wrap: break-word;
}

.esrePipelineResultsView.grid-container,
.esrePipelineCreateDialog .grid-container {
    display: grid;
    grid-row-gap: 20px;
    margin-left: 10px;
}

.esrePipelineCreateDialog .grid-container .form-group label.control-label {
    font-size: 14px;
}

.esrePipelineResultsView.grid-container dt {
    font-weight: unset;
}

.esrePipelineResultsView__label {
    padding-right: 7px;
}

.esrePipelineResultsView__info {
    background: #327bd1 !important;
}

.esrePipelineResultsView__infoIcon {
    float:left;
    margin:5px 10px 0 0;
}