<tbody>
<tr class="col3hidden" data-dojo-attach-point="rowNode">
    <td class="entryRowCol1 vmiddle">
        <i data-dojo-attach-point="statusNode" class="fa fa-lg"></i>
    </td>
    <td class="entryName vmiddle">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
    </td>
    <td class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></td>
    <td class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></td>
</tr>
</tbody>