<div class="${bid} grid-container">
    <div class="grid-item" data-dojo-attach-point="__organizationInfo"></div>
    <div class="grid-item" data-dojo-attach-point="__pipelineResultList"></div>
</div>
