.esreReport h3 {
    margin-bottom: 20px;
}

.classReport .panel-title a {
    cursor: pointer;
    display: block;
}

.classReport table.table {
    margin-bottom: 0px;
}

.classReport .fa-exclamation-triangle {
    color: red;
}

.classReport .fa-exclamation-circle {
    color: orange;
}

.classReport .fa-question-circle {
    color: royalblue;
}

.classReport .panel-title .problems>span {
    padding-left: 10px;
}

.classReport .panel-title .problems>span .fa {
    padding-left: 5px;
}

.classReport td.instanceHeader:first-child {
    text-align: left;
}
.classReport td:first-child {
    text-align: center;
    vertical-align: middle;
}
.classReport table th:first-child {
    width: 1px;
}

.classReport .panel-title .fa {
    margin-right: 7px;
}

.classReport .panel-title .collapsed .fa-chevron-down {
    display: none;
}

.classReport .panel-title .collapsed .fa-chevron-right {
    display: inline;
}

.classReport .panel-title .fa-chevron-right {
    display: none;
}
div.errorreport{
    margin-left: 25px;
    border-left-width: 2px;
    border-left-style: dotted;
    border-left-color: white;
    padding-left: 12px;
}

.sidebarMode .esreReport {
    margin-left: 15px;
}
