<tbody>
<tr data-dojo-attach-point="instanceRow">
    <td class="instanceHeader" colspan="3">
    <span data-dojo-attach-point="instanceHeader"></span>
    <button type="button" class="btn btn-xs btan-raised btn-success pull-right"
            data-dojo-attach-event="onclick:_openView">
        <i class="fa fa-eye fa-lg"></i>
        <span data-dojo-attach-point="nls">viewValidation</span>
    </button>
    </td>
</tr>
</tbody>
