<div class='${bid}'>
    <h3 class="${bid}__convertHeader" data-dojo-attach-point="nls">convertHeader</h3>
    <div class="panel panel-default">
        <div class="panel-heading" data-dojo-attach-point="__toBeConverted"></div>
        <table class="table table-hover">
            <thead>
            <th data-dojo-attach-point="nls">onSubject</th>
            <th data-dojo-attach-point="nls">issueType</th>
            <th data-dojo-attach-point="nls">from</th>
            <th data-dojo-attach-point="nls">to</th>
            </thead>
            <tbody data-dojo-attach-point="__table">
            </tbody></table>
    </div>
    <button type="button" class="btn btn-raised btn-success pull-right ${bid}__convert"
            data-dojo-attach-event="click:convert" data-dojo-attach-point="__convert">
        <i class="fa fa-level-up"></i>
        <span data-dojo-attach-point="nls">convertButton</span>
    </button>
</div>