.esreVisualization__header {
    text-align: center;
}

.esreVisualization__container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
@media (max-width: 824px) {
    .esreVisualization__container {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }
    .esreVisualization__block:first-child {
        margin-right: 0px;
    }
}


.esreVisualization__block {
    text-align: center;
    min-width: 150px;
}

.esreVisualization__block:first-child {
    margin-right: 20px;
}

.esreVisualization__centralHeading {
    font-family: Montserrat;
}

.esreVisualization__centralNumber {
    font-size: 40px;
    color: #88aa00;
}
/*---Legend specific css below ---*/

.ct-chart-donut .ct-label, .ct-chart-pie .ct-label {
    font-size: large;
}

.ct-label {
    font-size: large;
}

.vis3 .ct-label {
    font-size: 13px;
    color: #333;
}

@media (max-width: 600px) {
    .vis2 .ct-legend {
        max-width: 180px !important;
        font-size: 10px !important;
    }
}
@media (min-width: 768px) AND (max-width: 1240px) {
    .vis2 .ct-legend {
        max-width: 180px !important;
        font-size: 10px !important;
    }
}

@media (max-width: 824px) {
    .vis3 .ct-label {
        font-size: 10px;
    }
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    margin-top: 16px;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 4px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
    text-align: left;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}