<tbody>
<tr class="psirow" data-dojo-attach-point="rowNode">
    <td class="entryName vmiddle">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
    </td>
    <td class="psiname vmiddle" data-dojo-attach-point="psiPage"></td>
    <td class="dcatAP vmiddle" data-dojo-attach-point="dcatAP"></td>
    <td class="harvestDate vmiddle" data-dojo-attach-point="col3Node"></td>
    <td class="entryControls vmiddle" data-dojo-attach-point="buttonsNode" style="display:none"></td>
</tr>
</tbody>