<div class="${bid}">
    <div class="row ${bid}__container">
        <div class="${bid}__block">
            <h3 class="${bid}__centralHeading" data-dojo-attach-point="nls">datasetCount</h3>
            <div class="${bid}__centralNumber" data-dojo-attach-point="__datasetCount"></div>
        </div>
        <div class="${bid}__block">
            <h3 class="${bid}__centralHeading" data-dojo-attach-point="nls">organizationCount</h3>
            <div class="${bid}__centralNumber" data-dojo-attach-point="__organizationCount"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="${bid}__header" data-dojo-attach-point="nls">datasetGrowth</h4>
            <div class="vis1 ct-minor-seventh" data-dojo-attach-point="__vis1"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="${bid}__header" data-dojo-attach-point="nls">orgStatus</h4>
            <div class="vis2 ct-octave" data-dojo-attach-point="__vis2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="${bid}__header" data-dojo-attach-point="nls">datasetsPerOrg</h4>
            <div class="vis3 ct-square" data-dojo-attach-point="__vis3"></div>
        </div>
    </div>
</div>