<div class='${bid}'>
    <h3 class="${bid}__header" data-dojo-attach-point="nls">header</h3>
    <div class="directInput" data-dojo-attach-point="_rdfEditor"></div>
    <div class="buttonRow">
        <button type="button" class="btn btn-danger"
                data-dojo-attach-event="click:_infoClick"
                data-dojo-attach-point='__error'
                style="display: none"
        ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span data-dojo-attach-point="nls">information</span></button>
        <button type="button" class="btn btn-info"
                data-dojo-attach-event="click:_infoClick"
                data-dojo-attach-point='__info'
                style="display: none"
        ><i class="fa fa-info-circle" aria-hidden="true"></i>
        <span data-dojo-attach-point="nls">informationError</span></button>

        <button type="button" class="btn btn-raised btn-success pull-right ${bid}__button"
                data-dojo-attach-event="onclick:_upload"
                data-dojo-attach-point="nls,uploadButton">upload</button>
        <button type="button" class="btn btn-raised btn-default pull-right ${bid}__button"
                data-dojo-attach-event="onclick:_example"
                data-dojo-attach-point="nls">example</button>
        <button type="button" class="btn btn-raised btn-default pull-right ${bid}__button"
                data-dojo-attach-event="onclick:_download"
                data-dojo-attach-point="nls,downloadButton">download</button>
    </div>

    <div data-dojo-attach-point="uploadDialogNode"></div>
</div>
