<div class="esreStart">
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div data-dojo-attach-point="bannerNode" class="row esreStart__banner"></div>
            <div data-dojo-attach-point="mainNode" class="row esreStart__cards"></div>
        </div>
    </div>
</div>